body {
  padding-bottom: 100px;
}

img {
  display: block;
  margin-bottom: 5px;
}

.compare img {
  display: inline-block;
}

.src-container img {
  width: 400px;
  height: 40px;
}

[class*='banner'] {
  width: 400px;
  height: 40px;
  margin-bottom: 5px;
}

.standard-banner {
  background: url(images/banner_1x.png) no-repeat 0 0;
  background-size: 100%;
}

.hidpi-banner {
  background: url(images/banner_2x.png) no-repeat 0 0;
  background-size: 100%;
}

.dppx-banner {
  background: url(images/banner_2dppx.png) no-repeat 0 0;
  background-size: 100%;
}

.image-set {
  background: -webkit-image-set( url(images/banner_1x.png) 1x, url(images/banner_2x.png) 2x);
  width: 400px;
  height: 40px;
}

.image-query {
  background: url(images/banner_1x.png) no-repeat 0 0;
  width: 400px;
  height: 40px;
}

@media screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 1.3) {
  .image-query {
    background: url(images/banner_2x.png);
    background-size: 100%;
  }
}

.css-px-inch {
  width: 96px;
  height: 96px;
  background-color: orange;
}

.css-inch {
  width: 1in;
  height: 1in;
  background-color: green;
}
